<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Billetterie du Louvre{% endblock title %}</title>

    {% block stylesheet %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <!-- Personal CSS -->
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock stylesheet %}
</head>
<body>
    <header>
        <nav class="brown darken-3">
            <div class="nav-wrapper">
                <div class="container">
                    <a href="{{ path('tl_core_homepage') }}" class="brand-logo center">Le Louvre</a>
                </div>
            </div>
            {% include "TLCoreBundle:Core:inc/breadcrumbs.html.twig" %}
            </div>
        </nav>
    </header>

    {% block body %}
    {% endblock body %}

    <footer class="page-footer brown darken-3">
        <div class="footer-copyright">
            <div class="container">
                &copy; Copyright {{ 'now' | date('Y') }} Le Louvre
                <a class="white-text right" href="http://scoomdev.eu" target="_blank">Webmaster</a>
            </div>
        </div>
    </footer>

    {% block javascript %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    <!-- Personal JS -->
    <script src="{{ asset('js/initMaterialize.js') }}"></script>
    <script src="{{ asset('js/pickadate_fr.js') }}"></script>
    {% endblock javascript %}
</body>
</html>